<header>
    <nav>
        <img class="userPic" src="/images/miki.jpg" alt="Profile Picture">

            <div class="userDetails">
                <h1>Mahnoor </h1>
                <h1>Babar</h1>
                <span>Software Engineer</span>
            </div>

            <div class="home">
                <a href="/"><ion-icon name="school"></ion-icon></a>
            </div>

            <div class="projects">
                <a href="projects"> <ion-icon name="folder"></ion-icon> </a>
            </div>

            <div class="contact">
               <a href="contact"> <ion-icon name="mail"></ion-icon> </a> 
            </div>
    </nav>
</header>