<main>
    <div class="employement">
        <div class="row">
            <div class="column">
                <h3> Microperts </h1>
            </div>
            <div class="column">
                <ul>
                    <li>
                        <p> Phaser 3 Game Developer </p>
                    </li>
                    <li>
                        <p> Blockchain Developer (in training)</p>
                    </li>
                </ul>
            </div>
        </div>

          <div class="row">
            <div class="column">
                <h3> AccuFix Cosmetics </h1>
            </div>
            <div class="column">
                <ul>
                    <li>
                        <p> Web Developer </p>
                    </li>
                    <li>
                        <p> Graphic Designer </p>
                    </li>
                </ul>
            </div>
        </div>

          <div class="row">
            <div class="column">
                <h3> Oxyphii </h1>
            </div>
            <div class="column">
                <ul>
                    <li>
                        <p> NodeJs Developer </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="education">
        <div class="row">
            <div class="column">
                <h3>Comsats University</h3>
            </div>
            <div class="column"> Software Engineering</div>
        </div>

        <div class="row"> 
            <div class="column"> <h3>Lahore College For Women </br> University</h3> </div>
            <div class="column"> ICS-Physics </div>
        </div>
       
        <div class="row">
            <div class="column"> <h3>Private</h3> </div>
            <div class="column"> O'levels</div>
        </div>
    </div>

    <div class="skills">
  <div class="row">
            <div class="column"> <h3> Skills</h3> </div>
            <div class="column">
                <li>JavaScript</li>
                <li> Phaser 3</li>
                <li>NodeJs</li>
                <li>ExpressJs</li>
                <li>Heroku</li>
                <li>HTML</li>
                <li>CSS</li>
                <li>Adobe Photoshop</li>
            </div>
        </div>
    </div>
</main>